{% extends "page.njk" %}

{% block main %}
  {{ content | safe }}

  {% if links %}
    <h2>Important links</h2>
    <ul>
      {% for item in links %}
        <li>
          <a href="{{ item.link }}" target="_blank">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
