<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    {% block header %}
    <nav>
      <ul class="header__list">
        {% for mainPage in collections.main %}
        <li class="header__item"
            {% if page.url == mainPage.url %} aria-current="page"{% endif %}>
          <a class="header__link" href="{{ mainPage.url }}">
            {{ mainPage.data.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endblock %}
  </header>
  <main>
    {% block main %}
    Content
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
      <ul>
        {% for link in social %}
          <li>
            <a href="{{ link.link }}" target="_blank">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </footer>
</body>
</html>
